body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    /* font-family: Manrope; */
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    background-repeat: repeat;
    background-position: center top;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #000;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
}

:root {
    --font-family1:Lexend Deca;
    --font-family2: Manrope;
  }


/* navbar style start */
.navbar-logo-text{
    color:#073da1;
    font-weight: bolder;
    font-size: 25px;
}
/* navbar style end */


.section-padding{
    padding:50px 0;
}

/* cms style start*/
.cms-title{
    color:#E18C26;
    font-weight: bolder;
    
}

.cms-title span{
    color:#073da1;
}

.cms-text{
    color:gray;
}

.cms-h3{
    font-weight: bolder;
}

.cms-button-1{
    background-size: 300% 100%;
    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* background-image: linear-gradient(to right, #6d8fcf, #002467); */
    /* background-image: linear-gradient(to right, #6d8fcf, #002467, #002467, #6d8fcf); */
    background: linear-gradient(100.22deg, #5374C1 6.57%, #07215D 92.45%);
    box-shadow: 0 4px 7px 0 rgba(31, 31, 31, 0.75);
    color:#fff;
    padding:15px 35px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
}

.cms-button-1 i, .cms-button-2 i, .cms-button-3 i, .cms-button-4 i{
    margin-left: 5px;
    transition: all 0.25s ease-in-out;
}

.cms-button-1:hover{
    background-position: 100% 0;
    color:#fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.cms-button-1:hover i, .cms-button-2:hover i, .cms-button-3:hover i, .cms-button-4:hover i{
    margin-left: 10px;
}

.cms-button-2{
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* background-image: linear-gradient(to right, #6d8fcf, #002467); */
    background-image: linear-gradient(to right, #262525, #424242, #424242, #262525);
    box-shadow: 0 4px 7px 0 rgba(31, 31, 31, 0.75);
    color:#fff;
    padding:15px 35px;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
}

.cms-button-2:hover{
    background-position: 100% 0;
    color:#fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.cms-button-3{
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* background-image: linear-gradient(to right, #6d8fcf, #002467); */
    background: #fff;
    box-shadow: 0 4px 7px 0 rgba(31, 31, 31, 0.75);
    color:#000;
    font-weight: 700;
    padding:15px 35px;
    border-radius: 10px;
    text-decoration: none;
}

.cms-button-3:hover{
    /* background-position: 100% 0; */
    /* color:#fff; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.cms-button-4{
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* background-image: linear-gradient(to right, #6d8fcf, #002467); */
    background: linear-gradient(97.33deg, #FFD5A2 -8.93%, #E18C26 88.67%);

    box-shadow: 0 4px 7px 0 rgba(31, 31, 31, 0.75);
    color:#fff;
    font-weight: 700;
    padding:15px 35px;
    border-radius: 10px;
    text-decoration: none;
}

.cms-button-4:hover{
    /* background-position: 100% 0; */
    /* color:#fff; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}


.cms-ul{
    color:#424242c4;
    font-weight: 510;
    
}
.cms-ul li{
margin:15px 0;
}

.cms-link{
    color: #073da1;
    text-decoration: none;
}

.cms-section-title{
    font-weight: 700;
    font-size: 28px;
    color: #000;
}

.cms-section-title span{
    color:#223F83;
}

.cms-footer-link{
    text-decoration: none;
    color:#fff;
    transition: all 0.25s ease-in-out;
}

.cms-footer-link:hover{
    color:#E18C26 !important;
}

h2.section-title{
    color:#223F83;
    font-weight: 700;
    font-size: 40px;
}

h3.section-subtitle{
    color:#A4B8E5;
    font-weight: 600;
    font-size: 22px;
}
/* cms style end */


/* ----------------------------------------------------------- */
/* ----------Home page design starts---------- */
/* ----------------------------------------------------------- */

.home-section{
    background-color:  #FBFBFB;

}

.banner-section .cms-title{
    font-weight: 700;
    font-size: 64px;
    color:#223F83;
    text-transform: uppercase;
    margin-top: 20px;
}

.banner-section .cms-subtitle{
    font-weight: 700;
    font-size: 30px;
    color:#E18C26;
    text-transform: uppercase;
}

/* .carousel-inner{
    overflow: visible  !important;
} */

.custom-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #E18C26;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    /* border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px; */
    transition: opacity .5s ease;
}

.banner-section .carousel .custom-indicators .active{
    opacity: 1 ;
}

.service-one, .service-two, .service-three{
    transition: all 0.25s ease-in-out !important;
}

.banner-text{
    margin: 20px 0 35px 0;
    /* width: 350px; */
    font-size: 20px;
    font-weight: 500;
    color:#1D1919;
}

.banner-right{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.circle {
    /* position: absolute; */
    border-radius: 50%;
}

.circle1 {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBF4FF;
    z-index: 1;
}

.circle2 {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBEBFF;
    z-index: 2;
}

.circle3 {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5DFFF;
    z-index: 3;
}

.circle4 {
    width: 150px;
    height: 150px;
    background-color: #A6CEFF;
    z-index: 4;
    position: relative;
}

.service-label{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-transform:uppercase;
    font-size: 12px;
    box-shadow: 0 4px 7px 0 rgba(31, 31, 31, 0.129);
}

.service-one{
    position: absolute;
    width: 100%;
}
.service-one div:nth-child(1){
    position: absolute;
    top:-100px;
    right:-100px;
}
.service-one div:nth-child(2){
    position: absolute;
    top:-60px;
    left:-100px;
}
.service-one div:nth-child(3){
    position: absolute;
    top:30px;
    right:0px;
}
.service-one div:nth-child(4){
    position: absolute;
    bottom:-130px;
    right:-160px;
}
.service-one div:nth-child(5){
    position: absolute;
    bottom:-200px;
    left:-60px;
}
.service-one div:nth-child(6){
    position: absolute;
    bottom:-280px;
    right:-70px;
}

.service-two{
    position: absolute;
    width: 100%;
}
.service-three div:nth-child(1){
    position: absolute;
    top:-120px;
    left:-190px;
}
.service-two div:nth-child(2){
    position: absolute;
    top:-100px;
    right:-60px;
}
.service-two div:nth-child(3){
    position: absolute;
    top:-40px;
    left:-120px;
}
.service-two div:nth-child(4){
    position: absolute;
    top:80px;
    right:120px;
}
.service-two div:nth-child(5){
    position: absolute;
    bottom:-130px;
    right:-100px;
}
.service-two div:nth-child(6){
    position: absolute;
    bottom:-200px;
    left:-80px;
}
.service-two div:nth-child(7){
    position: absolute;
    bottom:-250px;
    right:-90px;
}


.service-three{
    position: absolute;
    width: 100%;
}

.service-three div:nth-child(1){
    position: absolute;
    top:-120px;
    left:-90px;
}
.service-three div:nth-child(2){
    position: absolute;
    top:-40px;
    right:-100px;
}
.service-three div:nth-child(3){
    position: absolute;
    top:40px;
    left:-50px;
}
.service-three div:nth-child(4){
    position: absolute;
    bottom:-160px;
    right:-180px;
}
.service-two div:nth-child(5){
    position: absolute;
    bottom:-250px;
    right:-90px;
}

.home-accordian-title{
    font-weight: 700;
    font-size: 22px;
    color:#223F83;
}

.clients-carousel .client-img{
    height: 100px;
    width: 200px;
    
}

.clients-carousel .client-img img{
    height: auto;
    width: 100%;
}


@media (max-width: 767px) {
    .right-to-left{
        display: flex;
        flex-direction: column-reverse;
    }
    .circle1{
        width: 300px;
        height: 300px;
    }
    .circle2{
        width: 250px;
        height: 250px;  
    }
    .circle3{
        width: 200px;
        height: 200px;  
    }
    .circle4{
        width: 150px;
        height: 150px;
    }
}
/* ----------------------------------------------------------- */
/* ----------Home page design ends---------- */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* ----------Education page design starts---------- */
/* ----------------------------------------------------------- */

/* first section design start*/
.cms-first-section{
background-image: linear-gradient(to bottom, #e8f5ffb6 0%, #fff 90%);
}

.cms-first-section-content{
    padding:30px 0;
}


.rating i{
    color:gray;
}
.rating i.rated{
    color:#ffc531;
}

.rating-number{
    font-weight: bold;
    margin-left: 5px;
    color:gray;
}

.rating-text{
    font-weight: 800;
    font-size: 20px;
}

@media (max-width: 767px) {
    .cms-first-section-content>div{
        display: flex;
        flex-direction: column-reverse;
    }
}
/* first section design end*/


/* second section design start */
.second-section-title{
    font-weight: 700;
    font-size: 18px;
}

@media (min-width:1024px) {
.divider{
    border-right: 1px solid #6d8fcf;
}
}
@media (max-width: 767px) {
    .divider{
        border-bottom: 1px solid #6d8fcf;
    }
}

.second-section-sub-title{
    font-weight: 700;
    color:#073da1
}
/* second section design end */

/* third section style start */
.cms-third-section .left-side{
    background-image: url('../img/Ellipse.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.third-section-subtitle{
    color:#073da1;
    font-weight: 600;
}

.third-section-title{
    font-weight: 700;
    font-size: 25px;
}

.youtube-iframe{
    height:315px;
    width:560px;
    border-radius: 12px;
}

@media (max-width: 767px) {
.youtube-iframe{
    height:315px;
    width:320px;
    border-radius: 12px;
}
}
/* third section style end */

/* fourth section style start*/
.cms-fourth-section{
    background-image: linear-gradient(#fff, #fffcf4);
    border-radius: 12px;
    margin:0 15px;
}
.cms-fourth-section .title{
    font-size:35px;
    font-weight: 800;
    color:#000;
    }
.cms-fourth-section .title span{
    color:#073da1;
}

.accordian-header{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    border-bottom: 1px solid gray;
    color:gray;
}

@media (max-width: 767px) {
    .accordian-header{
        font-size: 15px;
    }
}


.docs-accordian{
    --bs-accordion-border-color:transparent;
}

.accordian-header.active{
    color: #E18C26;
    border-bottom: 2px solid #223F83;
}
.accordian-content-icon{
    font-size: 35px;
    color:#073da1;
    background-color: #f4f5f6;
    height:100px;
    width:100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordian-steps{
    font-size: 20px;
    font-weight: 700;
    color:#1b4a52;
}

.accordian-content{
    color:gray;
}

.tab-content .tab-content-item{
    color:#1D1919;
    background-color: #fff;
    border:1px solid rgba(128, 128, 128, 0.273);
    box-shadow: 0 4px 7px 0 rgba(128, 128, 128, 0.167);
    border-radius: 10px;
    padding: 12px 20px;
    margin:10px 0;
    transition: all 0.25s ease-in-out;
}

.tab-content .tab-content-item:hover{
    background-color: #f7f5f5;
    border:1px solid rgba(128, 128, 128, 0.356);
    box-shadow: 0 4px 7px 0 rgba(128, 128, 128, 0.245);
    transform: scale(1.01);

}

.tab-content .tab-content-item h6{
    color:#002467;
    font-weight: 600;
}

.tab-content .tab-content-item p{
    color:gray;
}
/* fourth section style end */


/* social media section start */
.social-icon{
    font-size: 20px;
    height: 40px;
    width:40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    transition: all 0.25s ease-in-out;
    margin:0 10px;
    text-decoration: none;
}   

.social-icon:hover{
    filter:contrast(2);
}

.social-icon-insta{
    background-color: #C13584;
}
.social-icon-tweeter{
    background-color: #1DA1F2;
}
.social-icon-fb{
    background-color: #0077B5;
}
.social-icon-linkedin{
    background-color: #3B5998;
}
.social-icon-youtube{
    background-color: #FF0000;
}
/* social media section end */

/* /* fifth section style start */
.cms-fifth-section{
    background-image: linear-gradient(#fff, #f5fbff);
    margin:0 15px;
    border-radius: 12px;
}
.cms-fifth-section .title{
    font-size: 20px;
    font-weight: 700;
}
/* fifth section style end */ 


/* testimonial section style start  */
.testimonial-section{
    background: #EEF6EC;
    margin:0 15px;
    padding: 0;
    border-radius: 12px;
}

.testimonial-card{
    padding: 20px;
 /* width: 260px; */
 /* height: auto !important; */
}

.testimonial-section h3{
    /* color:#fff; */
    font-weight: 650;
}

.testimonial-icon{
    transform: rotatex(180deg);
    font-size: 50px;
    color: #B1CBCF;
    position: relative;
    margin-bottom: 10px;
  }
.testimonial-icon :first-child{
    opacity: 0.4;
}

.testimonial-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.small-icon{
    position: absolute;
    top:25%;
    left:4%;
    font-size: 23px;
    color: #00B5D5;
}

.testimonial-client-img{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.testimonial-client-name{
    font-family: var(--font-family2); 
    font-size: 18px;
    font-weight: 800;
}

.testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px !important;
    overflow-y: scroll;
    
}

.testimonial-item {
    /* width: 28%; */
    /* margin: 100px !important; */
}

@media (max-width: 767px) {
    .testimonial-section{
        overflow-y: scroll;
    }
    .testimonial-item {
        /* width: 90%; */
        
    }
    .testimonials-grid {
        display: block;
        margin:30px 0;
       
    }
}
  

/* Total scrollbar width */
.testimonial-comment::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* For horizontal scrollbar */
}

/* Background of the scrollbar */
.testimonial-comment::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle of the scrollbar */
.testimonial-comment::-webkit-scrollbar-thumb {
    background-color: #88888853; 
    border-radius: 10px;
    /* border: 2px solid #f1f1f1; Optional: for adding space around the thumb */
}

/* Handle on hover */
.testimonial-comment::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

/* testimonial section style end */

/* ----------------------------------------------------------- */
/* ----------Education page design ends---------- */
/* ----------------------------------------------------------- */

/* footer section style start */
.footer-section{
    background-image: linear-gradient(#063159, #00204e);
}

.follow-us-section{
    color:#fff;
    font-weight: 800;
}

.social-links{
    color:#fff;
    margin-right: 15px;
    font-size: 15px;
}
.footer-widgets{
    color:#fff;
}

.footer-widgets h6{
    font-weight: 700;
}

.footer-widgets ul{
    padding:0px;
}
.footer-widgets ul li{
    list-style-type: none;
    margin:10px 0;
}

.footer-widgets ul li a{
    text-decoration: none;
    color:#fff;
}

.footer-widgets ul li a:hover{
   color:#E18C26;
}
/* footer section style end */




/* ----------------------------------------------------------- */
/* ----------education detail page design starts---------- */
/* ----------------------------------------------------------- */

.certificate-card{
    background-image: linear-gradient(120deg, #4671c0, #0c224a);
    padding:40px;
    border-radius: 10px;
    color:#fff;
}

/* .vertical-tabing{

} */
.vertical-tabing ul{
    display: block;
    border-left: 2px solid #eeeeee;
}

.vertical-tabing .vertical-accordian-header{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color:gray;
    margin:10px 0;
}

.vertical-tabing .vertical-accordian-header.active{
    color:#000;
    /* border-bottom: 2px solid black; */
}

.vertical-tab-content{
    background-color: #eff6f7;
    padding:10px 20px;
    border-radius: 10px;
}

.tab-list{
    color:#5c5c5c;
    font-weight: 600;
    font-size: 16px;
}

.tab-list ul li{
    margin: 20px 0;
}

.vertical-tab-content h3{
    color:#002467;
    font-weight: 700;
}

.vertical-tab-content h6{
    
    font-weight: 700;
}


/* testimonial section style start */
.testimonial-card{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.testimonial-card .testimonial-comment{
    padding: 10px 0;
    height: 150px;
    overflow-y: auto;
   
}
/* testimonial section style end */